<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="A1" target="SYSTEM_OUT">
      <PatternLayout pattern="%-4r [%t] %-5p %c %x - %m%n"/>
    </Console>
   </Appenders>
  <Loggers>
    <Root level="ERROR">
      <AppenderRef ref="A1"/>
    </Root>
  </Loggers>
</Configuration>