body {
	font-family: Verdana, sans-serif;
	color: black;
}

table {
	text-align: center;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	page-break-inside:avoid;
}

table.tableStd {
	width: 90%;
}

table.refNavigation {
	margin-bottom: 30px;
	border: none;
}

tbody.tableZebra {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

th {
	font-weight: bold;
}

td.refLink {
	border-right: 2px solid black;
}

td.refSelfOK {
	background-color: black;
}

td.refSelfError {
	background-color: red;
}

td.refLinkPresent {
	background-color: green;
}

td.refLinkList {
	border-left: 1px solid white;
	min-width: 25px;
}

td.refLinkSibling {
	border-left: 1px solid white;
	min-width: 25px;
}

tbody.tableZebra tr:nth-child(odd) {
	background-color: lavender;
}

tbody.tableZebra tr:nth-child(even) {
	background-color: whitesmoke;
}

.toolTipHolder {
	position:relative;
}

span.toolTip {
	display:none;
	position:absolute;
	z-index:1;
	background-color:white;
	border:1px solid black;
	border-radius: 4px;
	padding:3px;
	color:black;
	top:-20px;
	left:20px;
	white-space: nowrap;
}

.toolTipHolder:hover span.toolTip {
	display:block;
}