/* Define tables */
.defTable {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-spacing: 1px;
    border-collapse: collapse;
    border-top: solid;
    border-bottom: solid;
}

/* Define table headers */
.defHdr {
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

table.defTable th {
  border: 1px solid white;
}

table.defTable td {
  border: 1px solid white;
}

table.defTable tr.a {
  background-color: lavender;
}

table.defTable tr.b {
  background-color: whitesmoke;
}

details {
  font:
    16px "Open Sans",
    Calibri,
    sans-serif;
  width: 620px;
}

details > summary {
  padding: 2px 6px;
  width: 15em;
  border: none;
  box-shadow: 3px 3px 4px black;
  cursor: pointer;
}

details > table {
  border-radius: 0 0 10px 10px;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px black;
}
