.-jtethys-titled-title {
  -fx-translate-x:  8;
  -fx-translate-y: -10;
  -fx-padding: 0 0 0 4;
  -fx-background-color: white;
}

.-jtethys-titled-border {
  -fx-content-display: top;
  -fx-border-insets: 2 0 0 0;
  -fx-border-color: black;
  -fx-border-width: 1;
}

.-jtethys-titled-content {
  -fx-padding: 18 5 5 5;
}

.-jtethys-datafield-error {
  -fx-control-inner-background: #DC381F;
}
