<document>
  <properties>
    <author email="Tony.Washer@yahoo.co.uk">Tony Washer</author>
    <title>JTableFilter Demo</title>
  </properties>
  <body>
    <section name="Overview">
      <p>Demo of JTableFilter capabilities.</p>
    </section>

    <section name="Demo">
      <applet code = 'net.sourceforge.JTableFilter.Demo.DemoFilter' 
        archive = '${demo-name}.jar'
        width = "450" 
        height = "300"></applet>      
    </section>
  </body>
</document>